@model EmployeeManagmentSystem.Domain.Employee

<div class="modal" id="modalAddEmployee" tabindex="-1" style="backdrop-filter:blur(5px)" data-bs-backdrop="static">
     <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modal-content">
            <div class="modal-header text-bg-dark">
              <h5 class="modal-title small">Add Employee Details</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formId" asp-action="AddEmployee">
              <div class="modal-body ">
                    <div asp-validation-summary="All" class="text-danger addEmployeeModalBody"></div>
                    <div class="row mb-3">
                        <div class="form-group">
                            <input asp-for="JoiningDate" class="form-control" />
                            <span asp-validation-for="JoiningDate" class="text-danger"></span>
                        </div>
                    </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="form-group">
                            <input asp-for="FirstName" placeholder="First Name" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                           
                            <input asp-for="LastName" placeholder="Last Name" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="form-group">
                         
                            <input asp-for="Email" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                           
                            <input asp-for="PhoneNumber" placeholder="Phone Number" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group">  
                        <select asp-for="JobId" asp-items="@ViewBag.jobListForSelected" class="form-control">
                            <option value="0">Select Job For Employee</option>
                        </select>
                        <span asp-validation-for="JobId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row gx-3">
                    <div class="col-10 d-flex"><button type="submit" class="btn btn-success btn-sm text-center flex-fill">Add Employee</button></div>
                    <div class="col-2 d-flex"><button  type="button" class="btn btn-warning btn-sm flex-fill " data-bs-dismiss="modal">Close</button></div>
                </div>
            
              </div>
            </form>
        </div>
     </div>
</div>


<script>
    $(document).ready(function () {    
        $('#formId').submit(function (e) {
            e.preventDefault();  
            var form = $(this);
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddEmployee", "Employee")',
                data: form.serialize(),  
                success: function (response) { 
                    if (response.isValid) {
                        window.location.href = response.redirectUrl;
                    } else { 
                        $(".addEmployeeModalBody").html(response) 
                        $("#modalAddEmployee").modal("show");                        
                    }                  
                },
                error: function () {
                    alert("Error processing your request.");
                }
            });
        });
    });  
 </script>