<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeManagmentSystem</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/EmployeeManagmentSystem.styles.css" asp-append-version="true" />
    <style>
        .gradient {
            background: #1925CF;
            background: linear-gradient(to right, #1925CF 0%, #35CF17 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>

<body class="bg-light">
    <!-- #region Navbar -->
    <nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand  gradient" asp-action="DashBoard" asp-controller="Employee">EMS2.0</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-action="DashBoard" asp-controller="Employee">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-action="DisplayAllEmps" asp-controller="Employee">Employees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" asp-action="DisplayAllJobs" asp-controller="Job">Jobs</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" asp-action="RegisterAdmin" asp-controller="Admin">Register AS Admin</a>
                        </li>
                    }
                </ul>
                @if (ViewContext.RouteData.Values["Controller"].ToString() == "Employee" && ViewContext.RouteData.Values["Action"].ToString() == "DashBoard")
                {

                }
                else
                {
                    <form id="formid" class="d-flex" role="search" asp-action="SearchByName">
                        <input class="form-control bg-light rounded-end-0" type="search" placeholder="Search for..." name="name" aria-label="Search">
                        <button class="btn btn-success rounded-start-0" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                        <div class="vr text-bg-light m-2"></div>
                    </form>
                }
              
                <form asp-action="LogOut" asp-controller="Account">
                        <button type="submit"  class="btn btn-warning ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                                <path d="M7.5 1v7h1V1h-1z" />
                                <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
                            </svg>
                        </button>
                    </form>
                   
               
            </div>
        </div>
    </nav>
  
    <main>
        @RenderBody()
    </main>


  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



